a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.pending-badge {
    background-color: #fff3cd;
    border: solid 1px #e2c45d;
    color: #856404;
    font-weight: 600;
    margin-top: 2px;
    vertical-align: text-top;
}

.app-nav-link {
    border-radius: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
