@*
    Default Invoice Template for Dash Accounting System v2.0
*@
@model DashAccountingSystemV2.Models.Invoice
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        body {
            width: 100%;
        }

        .page[size="A4"] {
            background: white;
            width: 100%;
            height: 29.7cm;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
        }
    </style>
</head>
<body>
    <h1>Invoice</h1>
    <p>@Model.Tenant.Name</p>
    <p>@Model.InvoiceNumber</p>
</body>
</html>
