@*
    UNIT TEST Default Invoice Template for Dash Accounting System v2.0
*@
@model DashAccountingSystemV2.BackEnd.Models.Invoice
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Invoice</h1>
    <p>@Model.Tenant.Name</p>
    <p>@Model.InvoiceNumber</p>
</body>
</html>
