; indicate this is the root of the project
root = true

; A newline ending every file
[*]
insert_final_newline = true

; 4-column space indentation
[*.cs]
indent_style = space
indent_size = 4

; 2-column space indentation
[*.json]
indent_style = space
indent_size = 2

; 4-column space indentation
[*.sql]
indent_style = space
indent_size = 4

[*.{scss,css}]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 4
