html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pending-badge {
    background-color: #fff3cd;
    border: solid 1px #e2c45d;
    color: #856404;
    font-weight: 600;
    margin-top: 2px;
    vertical-align: text-top;
}
